
.buttonText {
    text-align:center;
    height:100%;
    position:relative;
    top:30%;
    margin:auto;
    left:0;
    color: $yellow;
    font-family:$body-font;
    font-size:3vh;
    letter-spacing:8px;
}
